APP_RUN_ON = "localhost:1315"

DB_USER = ""
DB_PASS = ""
DB_NAME = ""
RW_HOST = ""
RO_HOST = ""
DB_PORT = "3306"
STR_DSN = "%s:%s@tcp(%s:%s)/%s?charset=utf8mb4&parseTime=True&loc=Local"
DB_CACHING = "true"
REDIS_HOST = "localhost"
REDIS_PORT = "6379"
REDIS_PASS = ""

DEV_DB_USER = ""
DEV_DB_PASS = ""
DEV_DB_NAME = ""
DEV_RW_HOST = ""
DEV_RO_HOST = ""
DEV_DB_PORT = "3306"
DEV_DB_CACHING = "true"
DEV_REDIS_HOST = "localhost"
DEV_REDIS_PORT = "6379"
DEV_REDIS_PASS = ""

OSS_ENDPOINT = ""
OSS_ACCESS_KEY_ID = ""
OSS_SECRET_KEY = ""
OSS_BUCKET_NAME = ""
